[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.h-\[20px\] {
  height: 20px;
}

.h-\[auto_\!important\] {
  height: auto !important;
}

.h-auto {
  height: auto;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.max-h-\[300px\] {
  max-height: 300px;
}

.w-\[100\%_\!important\] {
  width: 100% !important;
}

.w-\[1440px\] {
  width: 1440px;
}

.w-\[20px\] {
  width: 20px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.bg-\[var\(--bg-element2\)\] {
  background-color: var(--bg-element2);
}

.p-\[1\.5rem\] {
  padding: 1.5rem;
}

.text-\[15px\] {
  font-size: 15px;
}

.font-\[400\] {
  font-weight: 400;
}

.text-\[var\(--text1\)\] {
  color: var(--text1);
}

.text-\[var\(--text2\)\] {
  color: var(--text2);
}

.no-underline {
  text-decoration-line: none;
}

.\[display\:_flex_\!important\] {
  display: flex !important;
}

div.UserProfile_bottom__FFbRH {
  flex-direction: row-reverse !important;
  justify-content: space-between;
}

div.UserProfile_bottomSection__ZnaeC {
  margin-top: 0 !important;
}

div[_echarts_instance_] {
  display: none !important;
}

.before\:mr-1::before {
  content: var(--tw-content);
  margin-right: 0.25rem;
}

.before\:text-\[15px\]::before {
  content: var(--tw-content);
  font-size: 15px;
}

.before\:font-\[700\]::before {
  content: var(--tw-content);
  font-weight: 700;
}

.before\:font-bold::before {
  content: var(--tw-content);
  font-weight: 700;
}

.before\:text-\[var\(--text1\)\]::before {
  content: var(--tw-content);
  color: var(--text1);
}

.before\:text-red-500::before {
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.before\:content-\[\'\*\'\]::before {
  --tw-content: "*";
  content: var(--tw-content);
}

.before\:content-\[attr\(data-totalpost\)_\'_\'\]::before {
  --tw-content: attr(data-totalpost) " ";
  content: var(--tw-content);
}

@media (max-width: 1440px) {
  .max-\[1440px\]\:w-full {
    width: 100%;
  }

  .max-\[1440px\]\:pl-\[1rem\] {
    padding-left: 1rem;
  }

  .max-\[1440px\]\:pr-\[1rem\] {
    padding-right: 1rem;
  }
}
