@tailwind base;
@tailwind components;
@tailwind utilities;

div.UserProfile_bottom__FFbRH {
  gap: 12px;
}

div.UserProfile_bottomSection__ZnaeC {
  margin-top: 0 !important;
}

div.UserProfile_followInfo__6z4sT {
  justify-content: space-between !important;
}

div[_echarts_instance_] {
  display: none !important;
}
